<ul>
    <li><a [routerLink]="['/parent']" routerLinkActive="active">Parent</a></li>
    <li><a [routerLink]="['/tables']" routerLinkActive="active">tables</a></li>
    <li><a [routerLink]="['/agevalidator']" routerLinkActive="active">agevalidator</a></li>
    <li><a [routerLink]="['/enginestatus']" routerLinkActive="active">enginestatus</a></li>
    <li><a [routerLink]="['/evenodd']" routerLinkActive="active">evenodd</a></li>
    <li><a [routerLink]="['/searchuserdata']" routerLinkActive="active">searchuserdata</a></li>
    <li><a [routerLink]="['/showhide']" routerLinkActive="active">evenshowhideodd</a></li>
</ul>