<!-- <table>
    <tr>
        <th>
            <h1>Angular</h1>
        </th>
        <th>
            <app-home></app-home>
        </th>
        <th>
            <app-header></app-header>
        </th>
    </tr>
</table>

<router-outlet></router-outlet>
<footer class="page-footer font-small teal pt-4">
    <div class="footer-copyright text-center py-3">
        <app-footer></app-footer>
</div>
</footer> -->

<!-- <app-gadget-toggler></app-gadget-toggler> -->

<!-- <app-even-odd></app-even-odd> -->
<app-products></app-products>

