<h3>Welcome to Angular Training</h3>
<br>
<!-- <app-header></app-header>
<br>
<p>Hi {{name}}, your age is {{age}}</p>
<input type="text" [value]='name'>
<button (click)='increaseAge()'>IncreaseAge</button>
<button (click)='decreaseAge()'>DecreaseAge</button>
<br>
<br>
<input type="text" [(ngModel)]='name'>
<br>
<br>
<app-age-validator></app-age-validator>
<br>
<app-even-odd></app-even-odd>
<br>
<app-show-hide></app-show-hide> -->
<!-- <br>
<app-tables></app-tables> -->
<!-- <br>
<app-engine-status></app-engine-status> -->
<!-- <br>
<app-search-userdata></app-search-userdata> -->
<!-- <br>
<app-parent></app-parent> -->
<!-- <app-footer></app-footer> -->